<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- config -->
<th:block th:replace="fragment/config :: configFragment"></th:block>

<body>
<!-- header -->
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<!-- header -->
    <div class="container">
        <div>
            <!-- content -->
            <th:block layout:fragment="content"></th:block>
            <!-- content -->
        </div>
    </div>
<!-- footer -->
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
<!-- footer -->
</body>
</html>