<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메일 전송하는 페이지</title>
</head>
<body>
    <div style="width:500px; border: 1px solid red">
        <div style="width: 100%; display: flex">
            <select>
                <option value="reservation">예약</option>
                <option value="reservationChange">변경</option>
                <option value="reservationDelete">삭제</option>
            </select>


        </div>
        <div>
            <input type="text" placeholder="회의 내용을 입력하세요.">
        </div>
    </div>
</body>
</html>

<script>


</script>